<table class="table">
  <thead>
      <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Ver</th>
          <th scope="col">Editar</th>
          <th scope="col">Borrar</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let persona of personas">

          <td>{{persona.ID}}</td>
          <td>{{persona.nombre}}</td>
         <!--   <td>{{persona.ID}}</td>
                <td>{{persona.nombre}}$</td>
                 Required meta tags  <td><button class="btn btn-outline-primary" routerLink="/detalle/{{producto.id}}"><i class="fas fa-eye"></i>Detalle</button></td>
        <td><button cla     ss="btn btn-outline-warning" routerLink="/editar/{{producto.id}}"><i class="fas fa-edit"></i>Editar</button></td>
        <td><button class="btn btn-outline-danger" (click)="borrar(producto.id)"><i class="far fa-trash-alt"></i>Eliminar</button></td>-->

      </tr>

  </tbody>
</table>
